This Notebook is for Pandas analysis

In [63]:
import numpy as np
import pandas as pd
import seaborn

In [64]:
filename = 'NCAA_data.csv'
#create data frame:
data = pd.read_csv(filename)

FileNotFoundError: File b'NCAA_data.csv' does not exist

In [65]:
#print first 5 records
print(data.head(5))

   Rank          School     Conf  Unnamed: 3 Wins Losses Points Opposed  \
0    Rk          School     Conf         NaN    W      L    Pts     Opp
1     1         Gonzaga      WCC         NaN   33      4   87.6    64.9
2     2            Duke      ACC         NaN   32      6   82.7    67.8
3     3        Virginia      ACC         NaN   34      3   71.1    55.5
4     4  Michigan State  Big Ten         NaN   32      7   77.6      65

    Rank  Rank   Rank  Rank    SRS  SRS.1  SRS.2 Adjusted Adjusted.1  \
0    MOV   NaN    SOS   NaN   OSRS   DSRS    SRS     ORtg       DRtg
1  22.78   NaN   5.02   NaN   18.6   9.21   27.8   125.15       86.2
2  14.92   NaN  11.97   NaN  17.52   9.37  26.89   121.57      84.18
3  15.51   NaN    9.8   NaN   4.38  20.93  25.31   124.16      84.71
4  12.59   NaN  12.35   NaN  12.95  11.98  24.94   122.59      86.19

  Adjusted.2
0       NRtg
1      38.95
2      37.39
3      39.45
4       36.4

In [66]:
data[:5]

,Rank,School,Conf,Unnamed: 3,Wins,Losses,Points,Opposed,Rank,Rank,Rank,Rank,SRS,SRS.1,SRS.2,Adjusted,Adjusted.1,Adjusted.2
0,Rk,School,Conf,NaN,W,L,Pts,Opp,MOV,NaN,SOS,NaN,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
1,1,Gonzaga,WCC,NaN,33,4,87.6,64.9,22.78,NaN,5.02,NaN,18.6,9.21,27.8,125.15,86.2,38.95
2,2,Duke,ACC,NaN,32,6,82.7,67.8,14.92,NaN,11.97,NaN,17.52,9.37,26.89,121.57,84.18,37.39
3,3,Virginia,ACC,NaN,34,3,71.1,55.5,15.51,NaN,9.8,NaN,4.38,20.93,25.31,124.16,84.71,39.45
4,4,Michigan State,Big Ten,NaN,32,7,77.6,65,12.59,NaN,12.35,NaN,12.95,11.98,24.94,122.59,86.19,36.4

In [67]:
data.rename( columns={'Unnamed: 0':'Rank'}, inplace=True )
data.rename( columns={'Unnamed: 1':'School'}, inplace=True )
data.rename( columns={'Unnamed: 2':'Conf'}, inplace=True )
data.rename( columns={'Unnamed: 4':'Wins'}, inplace=True )
data.rename( columns={'Unnamed: 5':'Losses'}, inplace=True )
data.rename( columns={'Unnamed: 6':'Points'}, inplace=True )
data.rename( columns={'Unnamed: 7':'Opposed'}, inplace=True )
data.rename( columns={'Unnamed: 8':'Rank'}, inplace=True )
data.rename( columns={'Unnamed: 9':'Rank'}, inplace=True )
data.rename( columns={'Unnamed: 10':'Rank'}, inplace=True )
data.rename( columns={'Unnamed: 11':'Rank'}, inplace=True )

In [68]:
data[:5]

,Rank,School,Conf,Unnamed: 3,Wins,Losses,Points,Opposed,Rank,Rank,Rank,Rank,SRS,SRS.1,SRS.2,Adjusted,Adjusted.1,Adjusted.2
0,Rk,School,Conf,NaN,W,L,Pts,Opp,MOV,NaN,SOS,NaN,OSRS,DSRS,SRS,ORtg,DRtg,NRtg
1,1,Gonzaga,WCC,NaN,33,4,87.6,64.9,22.78,NaN,5.02,NaN,18.6,9.21,27.8,125.15,86.2,38.95
2,2,Duke,ACC,NaN,32,6,82.7,67.8,14.92,NaN,11.97,NaN,17.52,9.37,26.89,121.57,84.18,37.39
3,3,Virginia,ACC,NaN,34,3,71.1,55.5,15.51,NaN,9.8,NaN,4.38,20.93,25.31,124.16,84.71,39.45
4,4,Michigan State,Big Ten,NaN,32,7,77.6,65,12.59,NaN,12.35,NaN,12.95,11.98,24.94,122.59,86.19,36.4